*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p,span,h1,h2,h3,h4,td,th{
    transform: rotate(0.04deg);
}

.container{
}

.section{
display: flex;
height: 1200px;
width: 1200px;
margin : 0px 300px 0 300px;
padding: 20px 0px 80px;
}

.side-bar{
    width: 360px;
    height: 1160px;
}

.search-bar-box{
    margin: 15px;
}

.search-input{
    height: 37px;
    width: 290px;
}

.search-submit{
    height: 37px;
    width: 40px;
    border: none;
    background-color: white;
    font-size: 22px;
    vertical-align: top;
}
