*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.coin-img{
    width: 32px;
    vertical-align: text-top;
    margin: 10px;
    padding: 5px;
}

p,span,h1,h2,h3,h4,td,th{
    transform: rotate(0.04deg);
}

.coin-price-container{
}